$primary-normal:#ad3afa;
$primary-dark:#040f1a;
$primary-light:#0c2135;


$secundary-normal:#090d11;
$secundar-dark:#06090c;
$secundary-light:#1a1f25;

$black-normal: #232224;
$black-dark:#161617;
$black-light:#353436;

$white-normal:#fff;
$white-dark: #edeaef;
$white-light: #fefbff;
$white-fds:#a332ff;

$red-normal: #d783fb;